<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Meal Planner</title>
    {{ bootstrap.load_css() }}
<style>


</style>
</head>
<body class="bg-dark text-white">
  
  <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url_for('home') }}">Weekly View</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('list') }}">Grocery List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('meal') }}">Add Meal</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<h1 class="container-fluid py-5" style="color: #ADB5AD;" >Add Meal Plan</h1>

<div class="container py-4" style="background-color: #2B3035;" >
   
    <h1 style="color: #ADB5AD;">Create Meal</h1>
    <form method="post">
            <div class="form-group">
              
              <input  class="form-control" id="mealName"  placeholder="Enter Meal Name">
           
            </div>
            <br>
            <div class="form-group">
            
              <input  class="form-control" id="mealIngredients" placeholder="Enter Ingredients separated by coma (,)">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Add Meal</button>
          </form>

  </div>

  <form method="post">
    <div class="form-group">    
      <input  class="form-control" id="mealName"  placeholder="Enter Meal Name"> 
    </div>
    <br>
    <div class="form-group">    
      <input  class="form-control" id="mealIngredients" placeholder="Enter Ingredients separated by coma (,)">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Add Meal</button>
  </form>
</div>


</body>
</html>