<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Meal Planner</title>
    {{ bootstrap.load_css() }}
<style>
  body {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
  }
  .card {
    margin: 0 auto;
    float: none;
    margin-bottom: 100px;
  }
</style>
</head>
<body class="bg-dark text-white">

  <!-- Navigation bar -->
  <nav class="navbar navbar-expand-md mb-4">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Weekly View</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('list') }}">Weekly List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('meal') }}">View/Edit Meals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('ingredients') }}">All Ingredients</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<h1 class="container-fluid py-5 text-center">View/Edit Meal Plan</h1>

<div class="container py-4" style="background-color: #2b3035c4;">
   
  <h1 class="text-center">Add Meal/Side</h1>

  <!-- 'GET' = message being completely blank and invisible -->
  <!-- 'POST' = success or fail depending on if meal was already in the list -->
  <h3>{{ message }} </h3>

  <!-- Form for submitting a new meal. reuest.form.get() uses the 'name' attribute from <input> -->
  <form method="POST">
    <div class="form-group">    
      <input class="form-control" id="name" name="name" placeholder="Name"> 
    </div>
    <br>
    <div class="form-group">    
      <input class="form-control" id="ingredients" name="ingredients" placeholder="Ingredients separated by comma (,)">
    </div>
    <br>
    <div class="form-group">
      <select class="form-control" id="type" name="type">
        <option value="meal">Main</option>
        <option value="side">Side</option>
      </select>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Add Meal</button>
  </form>
</div>

<br>

<!-- Loops through all the meals in the list and makes a card for each. col-sm-3 is best for 4 column viewing -->
<div class="row">
  {% for meal in meals %}
    <div class="col-sm-3">
      <div class="card text-white mb-3 text-center card" style="background-color: #2b3035c4;">
        <div class="card-body">
          <h3 class="card-title"><u><b>{{ meal['name'] }}</b></u></h3>
          <div class="mealCard">
            <div class="card-body" style="background-color: #2b3035c4;">
              <ul class="list-group list-group-flush" style="background-color: #2b3035c4;">
                <li class="list-group-item" style="color: white; background-color: #2b3035c4;"><b><u>Ingredients:</u></b></li>
                {% for ing in meal['ingredients'] %}
                  <li class="list-group-item" style="color: white; background-color: #2b3035c4;">{{ ing }}</li>   
                {% endfor %}
              </ul>
              <ul>
                <!-- For adding other API stuff if we want to the cards! -->
                <!-- <li class="list-group-item text-white bg-dark">Calories: {{ calories }}</li> -->
                <!-- <li class="list-group-item text-white bg-dark">Recipe: {{ recipe }}</li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %} 
</div>


</body>
</html>