<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Meal Planner</title>
    {{ bootstrap.load_css() }}
<style>
  .card {
    margin: 0 auto;
    float: none;
    margin-bottom: 100px;
  }
</style>
</head>
<body class="bg-dark text-white">
  
  <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url_for('home') }}">Weekly View</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('list') }}">Grocery List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('meal') }}">View/Edit Meals</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<h1 class="container-fluid py-5 text-center">View/Edit Meal Plan</h1>

<div class="container py-4" style="background-color: #2B3035;">
   
  <h1 class="text-center">Add Meal</h1>

  <h3>{{ message }} </h3>

  <form method="POST">
    <div class="form-group">    
      <input class="form-control" id="mealName" name="mealName" placeholder="Enter Meal Name"> 
    </div>
    <br>
    <div class="form-group">    
      <input class="form-control" id="mealIngredients" name="mealIngredients" placeholder="Enter ingredients separated by comma (,)">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Add Meal</button>
  </form>
</div>

<br>

<div class="row">
  {% for meal in meals %}
    <div class="col-sm-3">
      <div class="card text-white mb-3 text-center card" style="background-color: #2B3035">
        <div class="card-body">
          <h3 class="card-title"><u><b>{{ meal['name'] }}</b></u></h3>
          <div class="mealCard">
            <img src="{{ meal['img_url'] }}" class="card-img-top" alt="{{ meal['name'] }}" width="auto">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-white" style="background-color: #2B3035"><b><u>Ingredients:</u></b></li>
                {% for ing in meal['ingredients'] %}
                  <li class="list-group-item text-white" style="background-color: #2B3035">{{ ing }}</li>   
                {% endfor %}
              </ul>
              <ul>
                <!-- For adding other API stuff if we want to the cards! -->
                <!-- <li class="list-group-item text-white bg-dark">Calories: {{ calories }}</li> -->
                <!-- <li class="list-group-item text-white bg-dark">Recipe: {{ recipe }}</li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %} 
</div>

</body>
</html>