<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Meal Planner</title>
    {{ bootstrap.load_css() }}
<style>

/* body
{
 background-color:#212529
} */

h1 {
  color: white;
  margin-top: 50px;
  padding: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  background-color: #1093fd;
  padding: 5px;
}
.grid-item {
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
</style>
</head>
<body>
    
  


    
<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Weekly View</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('list') }}">Groccery List</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('meal') }}">Add Meal</a>
        </li>
        
      </ul>
      
    </div>
  </div>
</nav>


<h1 class="container-fluid py-5" >Start Your Weekly Meal Plan </h1>

<button class="btn btn-primary btn-lg">Add Meal</button>
</body>
</html>