<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Meal Planner</title>
    {{ bootstrap.load_css() }}
<style>
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: #1093fd;
    padding: 5px;
  }
  .grid-item {
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
  select {
  width: 200px;
  overflow: auto;
  }
  option {
    width: 200px;
  }

</style>
</head>
<body class="bg-dark text-white">
    
  <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Weekly View</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('list') }}">Grocery List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('meal') }}">Add Meal</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <h1 class="container-fluid py-5" >Start Your Weekly Meal Plan </h1>
    <div class="grid-container">
      <div class="grid-item">Sunday</div>
      <div class="grid-item">Monday</div>
      <div class="grid-item">Tuesday</div>
      <div class="grid-item">Wednesday</div>
      <div class="grid-item">Thursday</div>
      <div class="grid-item">Friday</div>
      <div class="grid-item">Saturday</div>

      {% for i in range(7) %}
      <!-- <form action="/list" method="POST">   -->
        <div class="grid-item">
          <select id="{{i}}" onchange="updateList()">
          <!-- <select> -->
            {% for meal in meals %}
              <option value="{{ meal['name'] }}">{{ meal['name'] }}</option>
            {% endfor %}
          </select>
        </div>
      <!-- </form> -->
      {% endfor %}

</body>
<script>
  async function updateList() {

    data = []
    for (let i = 0; i < 7; i++) {
      data[i] = document.getElementById(i).value;
    }
    console.log(data);

    await fetch('/list', {
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      method: 'POST',
      body: JSON.stringify(data)
    });
  }
</script>
</html>